* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.wrapper {
    position: relative;
    width: 480px;
    height: 480px;
    border: 1px solid rgb(50, 50, 50);
    margin: 0 auto;
    background: black;
}

.element {
    border: 1px solid black;
}

div#top-controls {
    width: 300px;
    margin: 10% auto 0;
    position: relative;
}

div.top {
    display: inline-block;
}

div#slide-container {
    position: absolute;
    left: 0;
    width: 125px;
    height: 200px;
    border: 1px solid black;
    margin: auto
}

div#button-container {
    position: absolute;
    right: 0;
    width: 125px;
    height: 200px;
    border: 1px solid black;
}

ul#switch-container {
    position: absolute;
    bottom: 0px;
    left: 100px;
    padding: 0;
    height: 175px;
    width: 280px;
    border: 1px solid black;
}

.cnvBTN {
    margin: 6px auto;
}

.cnv {
    margin: 5px auto 0 15px;
}

div.slide {
    height: 50px;
    width: 120px;
    margin: 10px auto;
    background: rgba(88, 89, 88, 1.0)
}

li.switch {
    position: absolute;
    width: 50px;
    height: 170px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    background: rgba(88, 89, 88, 1.0);
}

.effect-knob {
    display: inline-block;
    flex-grow: 1;
}

#visualizer-container {}

#delay-effect-container {
    display: flex;
}

#reverb-effect-container {
    display: flex;
}

.control-button {
    display: block;
}

#play-stop-pause-container {
    left: 6%;
}

#master-gain-container {
    right: 30%;
}

#tempo-slider-container {
    left: 30%;
    text-align: center;
}

#eq-container {
    right: 6%;
}

.eq-knob {
    width: 30px;
    margin: 1px auto 1px;
}

input {
    display: none;
}

input#audioFile {
    display: initial;
}

div#effect1-gain,
div#effect2-gain,
div#effect1-send,
div#effect2-send {
    margin: auto;
}


/* VOLUME LED STYLES  */

.powerLED {
    display: flex;
    flex-direction: column-reverse;
    width: 40px;
    background: black;
}

.LED {
    margin: auto;
}

.active {
    background: rgba(246, 253, 234, 1.0);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    transition: all 1000ms ease;
    box-shadow: 0 0 15px 2px rgba(246, 253, 234, 1.0);
}

.inactive {
    background: rgba(88, 89, 88, 1.0);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    transition: all 100ms ease;
    box-shadow: 0 0 0 0 black;
}